<div class="signup-form">
  <form #forgotPasswordForm="ngForm">
    <h2>Forgot Password</h2>
    <div class="form-group">
      <input type="email" class="form-control" value="email" [(ngModel)]="forgotPasswordData.email" #email name="email" placeholder="Email" required="required" />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]=forgotPasswordForm.invalid (click)="onSubmitButtonClicked()" >Submit</button>
    </div>
  </form>
  <div class="text-center">
    Remember Password?
    <a class="text-primary" href="/authentication/login">Please Log in</a>
  </div>
</div>