<body>
  <div class="signup-form">
    <form action="/examples/actions/confirmation.php" method="post">
      <h2>Reset</h2>
      <p class="hint-text">Reset Your Password</p>
      <div ngMdelGroup="passwordGroup" [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
        <div class="form-group" [class.has-error]="password.touched && password.invalid">
          <input name="password" required type="password" class="form-control" (input)="confirmPassword.control.updateValueAndValidity()"
            [(ngModel)]="user.password" #password="ngModel" placeholder="Password">
          <small class="help-block" class="text-danger" *ngIf="password.touched && password.errors?.required">Password
            is required</small>
        </div>
        <div class="form-group" [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
          <input name="confirmPassword" appConfirmEqualValidator="password" required type="password" class="form-control"
            [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" placeholder="Confirm Password">
          <small class="help-block" class="text-danger" *ngIf="confirmPassword.touched && confirmPassword.errors?.required">Confirm
            password is required</small>
          <small class="help-block" class="text-danger" *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual && !confirmPassword.errors?.required">Password
            and confirm password must match</small>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg btn-block">Reset</button>
      </div>
    </form>
  </div>
</body>