<div class="login-form">
    <form #loginForm="ngForm">
        <h2 class="text-center">Log in</h2>
        <div class="form-group">
            <input type="text" class="form-control" value="email" [(ngModel)]="loginUserData.email" #email name="email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" value="password" [(ngModel)]="loginUserData.password" #password name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block mt-2" [disabled]=loginForm.invalid (click)="loginUser()">Log in</button>
        </div>
        <div class="text-center">
            <a href="/authentication/forgot-password" class="pull-right">Forgot Password?</a>
        </div>
    </form>
    <div class="text-center">
        <p>Not Registered? <a class="text-center" href="/authentication/registration">Register Now</a></p>
    </div>
</div>